{% extends 'base.html' %}
{%  block content %}
<div id="about_swap">
    <div id="search_input">
<div><a hx-post="/about" hx-target="#about_swap" hx-push-url="/about" href="#">About</a></div>
        <div class="container" style="padding-top: 150px;">
        <div class=" row">

           <h1 style="color:#5cb85c;">Word meanings....</h1>
<form hx-get="/search" hx-target="#search_results">
    <div class="form-group col-md-4" >
        <input type="text" required class="form-control" name="search"
               placeholder="Enter a word">
        <div class="input-group-append">
            <button class="btn btn-success m-4 me-1" type="submit">
                Search
            </button>
            <button class="btn btn-primary" type="submit" hx-post="/search" hx-target="#search_input">Clear</button>
        </div>

        </div>
    </div>
</form>
        </div>


    <div class="container" style="padding-top: 50px;">
        <div id="search_results" class="blockquote">

        </div>
    </div>
</div>
</div>
{% endblock %}